<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h4> องค์กรจัดกิจกรรม :
        <%= data.org_name %>
      </h4>
      <h4> ชื่อกิจกรรม :
        <%= data.act_name %>
      </h4>
      <h4> เรียนถึง :
        <%= data.dear_to %>
      </h4>
      <h6> จัดกิจกรรมระหว่างวันที่ :
        <%= data.act_start %>
        ถึง
        <%= data.act_end %>
      </h6>
      <h6>ใช้งบประมาณจาก :
        <%= data.mn_from %>
      </h6>
      <h6>จำนวน :
        <%= data.act_money %>
      </h6>
      <h6>จำชวนชั่วโมงกิจกรรม:
        <%= data.act_hours %>
      </h6>
      <button type="button" class="btn btn-info" onclick="window.location.href='/activity/update?id=<%= data.id_activity %>'">edit</button>
      <div>---------------------------------------------------------------------------------------------------------------------------------------------------</div>
      <h4>สถานะการดำเนินโครงการ</h4>
      <h6>ความเห็นอาจารย์ที่ปรึกษา :
        <% if(data.sUnion) {%>
        ผ่านการอนุมัติ
        <% } else { %>
        รอการอนุมัติ
        <% }  %>
      </h6>
      <h6>องค์การบริหาร องค์การนักศึกษา :
        <% if(data.sUnion) {%>
        ผ่านการอนุมัติ
        <% } else { %>
        รอการอนุมัติ
        <% }  %>
      </h6>
      <h6>สภานักศึกษา องค์กรนักศึกษา :
        <% if(data.sCouncil) {%>
        ผ่านการอนุมัติ
        <% } else { %>
        รอการอนุมัติ
        <% }  %>
      </h6>
      <h6>หัวหน้างานกิจกรรมนักศึกษา:
        <% if(data.sAffair) {%>
        ผ่านการอนุมัติ
        <% } else { %>
        รอการอนุมัติ
        <% }  %>
      </h6>
      <h6>ผู้อำนวยการกองกิจการนักศึกษา :
        <% if(data.sAffair) {%>
        ผ่านการอนุมัติ
        <% } else { %>
        รอการอนุมัติ
        <% }  %>
      </h6>
      <h6>ผู้ช่วยอธิการบดีฝ่ายพัฒนานักศึกษา :
        <% if(data.sAffair) {%>
        ผ่านการอนุมัติ
        <% } else { %>
        รอการอนุมัติ
        <% }  %>
      </h6>
      <h6>รองอธิการบดี :
        <% if(data.sAffair) {%>
        ผ่านการอนุมัติ
        <% } else { %>
        รอการอนุมัติ
        <% }  %>
      </h6>
      <h6> สถานะโครงการ :
        <% if(data.status) {%>
        ผ่านการอนุมัติ
        <% } else { %>
        รอการอนุมัติ
        <% }  %>
      </h6>

      

    </div>
    <div>

    </div>
  </main>


  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>