<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>
  <!-- <style>
       .center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
.nav {
  background-color: yellow; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

  </style> -->

  <main>
    <div class="jumbotron">
      <div>
          <h3 align="center">ข้อมูลโครงการ</h3>
      </div>
      
      <h5> องค์กรจัดกิจกรรม :
        <%= data.org_name %>
      </h5>
      <h5> ชื่อกิจกรรม :
        <%= data.act_name %>
      </h5>
      <h5> เรียนถึง :
        <%= data.dear_to %>
      </h5>
      <h6> จัดกิจกรรมระหว่างวันที่ :
        <%= data.act_start %>
        ถึง
        <%= data.act_end %>
      </h6>
      <h6>ใช้งบประมาณจาก :
        <%= data.mn_from %>
      </h6>
      <h6>จำนวน :
        <%= data.act_money %>
      </h6>
      <h6>จำชวนชั่วโมงกิจกรรม:
        <%= data.act_hours %>
      </h6>
      <h6>เบอร์โทรติดต่อ:
        <%= data.tel %>
      </h6>
      <button type="button" class="btn btn-info" onclick="window.location.href='/activity/update?id=<%= data.id_activity %>'">edit</button>
      <div>---------------------------------------------------------------------------------------------------------------------------------------------------</div>
      <h4>สถานะการดำเนินโครงการ</h4>
      <h6>ความเห็นอาจารย์ที่ปรึกษา :
        <% if(data2.adv === 1) {%>
        <a style="color:green">ผ่านการอนุมัติ</a>
        <a class="btn btn-danger btn-sm" href="/api/status/update?field=adv&state=0&id=<%= data2.id_activity %>">decline</a>
        <% } if (data2.adv === 0){ %>
        <a style="color:blue">รอการอนุมัติ</a>
        <a class="btn btn-success btn-sm" href="/api/status/update?field=adv&state=1&id=<%= data2.id_activity %>">approve</a>
        <%  } if (data2.adv === 2){ %>
        <a style="color:red">ไม่ผ่านการอนุมัติ</a>
        <a class="btn btn-success btn-sm" href="/api/status/update?field=adv&state=1&id=<%= data2.id_activity %>">approve</a>
        <% }  %>
        <a class="btn btn-danger btn-sm" href="/api/status/update?field=adv&state=2&id=<%= data2.id_activity %>">reject</a>
      </h6>

      <h6>องค์การบริหาร องค์การนักศึกษา :
        <% if(data2.union === 1) {%>
        <a style="color:green">ผ่านการอนุมัติ</a>
        &nbsp&nbsp&nbsp&nbsp<a class="btn btn-danger btn-sm" href="/api/status/update?field=union&state=0&id=<%= data2.id_activity %>">decline</a>
        <% } if (data2.union === 0){ %>
        <a style="color:blue">รอการอนุมัติ</a>
        &nbsp&nbsp&nbsp&nbsp<a class="btn btn-success btn-sm" href="/api/status/update?field=union&state=1&id=<%= data2.id_activity %>">approve</a>
        <%  } if (data2.union === 2){ %>
        <a style="color:red">ไม่ผ่านการอนุมัติ</a>
        <a class="btn btn-success btn-sm" href="/api/status/update?field=union&state=1&id=<%= data2.id_activity %>">approve</a>
        <% }  %>
        <a class="btn btn-danger btn-sm" href="/api/status/update?field=union&state=2&id=<%= data2.id_activity %>">reject</a>
      </h6>
      <h6>สภานักศึกษา องค์กรนักศึกษา :
        <% if(data2.council === 1) {%>
        <a style="color:green">ผ่านการอนุมัติ</a>
        <a class="btn btn-danger btn-sm" href="/api/status/update?field=council&state=0&id=<%= data2.id_activity %>">decline</a>
        <% } if (data2.council === 0){ %>
        <a style="color:blue">รอการอนุมัติ</a>
        <a class="btn btn-success btn-sm" href="/api/status/update?field=council&state=1&id=<%= data2.id_activity %>">approve</a>
        <%  } if (data2.council === 2){ %>
        <a style="color:red">ไม่ผ่านการอนุมัติ</a>
        <a class="btn btn-success btn-sm" href="/api/status/update?field=council&state=1&id=<%= data2.id_activity %>">approve</a>
        <% }  %>
        <a class="btn btn-danger btn-sm" href="/api/status/update?field=council&state=2&id=<%= data2.id_activity %>">reject</a>
      </h6>
      <h6>หัวหน้างานกิจกรรมนักศึกษา:
        <% if(data2.affair === 1) {%>
        <a style="color:green">ผ่านการอนุมัติ</a>
        <a class="btn btn-danger btn-sm" href="/api/status/update?field=affair&state=0&id=<%= data2.id_activity %>">decline</a>
        <% } if (data2.affair === 0){ %>
        <a style="color:blue">รอการอนุมัติ</a>
        <a class="btn btn-success btn-sm" href="/api/status/update?field=affair&state=1&id=<%= data2.id_activity %>">approve</a>
        <%  } if (data2.affair === 2){ %>
        <a style="color:red">ไม่ผ่านการอนุมัติ</a>
        <a class="btn btn-success btn-sm" href="/api/status/update?field=affair&state=1&id=<%= data2.id_activity %>">approve</a>
        <% }  %>
        <a class="btn btn-danger btn-sm" href="/api/status/update?field=affair&state=2&id=<%= data2.id_activity %>">reject</a>
      </h6>
      <h6>ผู้อำนวยการกองกิจการนักศึกษา :
        <% if(data2.director === 1) {%>
        <a style="color:green">ผ่านการอนุมัติ</a>
        <a class="btn btn-danger btn-sm" href="/api/status/update?field=director&state=0&id=<%= data2.id_activity %>">decline</a>
        <% } if (data2.director === 0){ %>
        <a style="color:blue">รอการอนุมัติ</a>
        <a class="btn btn-success btn-sm" href="/api/status/update?field=director&state=1&id=<%= data2.id_activity %>">approve</a>
        <%  } if (data2.director === 2){ %>
        <a style="color:red">ไม่ผ่านการอนุมัติ</a>
        <a class="btn btn-success btn-sm" href="/api/status/update?field=director&state=1&id=<%= data2.id_activity %>">approve</a>
        <% }  %>
        <a class="btn btn-danger btn-sm" href="/api/status/update?field=director&state=2&id=<%= data2.id_activity %>">reject</a>
      </h6>
      <h6>ผู้ช่วยอธิการบดีฝ่ายพัฒนานักศึกษา :
        <% if(data2.assistance_ch === 1) {%>
        <a style="color:green">ผ่านการอนุมัติ</a>
        <a class="btn btn-danger btn-sm" href="/api/status/update?field=assistance_ch&state=0&id=<%= data2.id_activity %>">decline</a>
        <% } if (data2.assistance_ch === 0){ %>
        <a style="color:blue">รอการอนุมัติ</a>
        <a class="btn btn-success btn-sm" href="/api/status/update?field=assistance_ch&state=1&id=<%= data2.id_activity %>">approve</a>
        <%  } if (data2.assistance_ch === 2){ %>
        <a style="color:red">ไม่ผ่านการอนุมัติ</a>
        <a class="btn btn-success btn-sm" href="/api/status/update?field=assistance_ch&state=1&id=<%= data2.id_activity %>">approve</a>
        <% }  %>
        <a class="btn btn-danger btn-sm" href="/api/status/update?field=assistance_ch&state=2&id=<%= data2.id_activity %>">reject</a>
      </h6>
      <h6>รองอธิการบดี :
        <% if(data2.vice_ch === 1) {%>
        <a style="color:green">ผ่านการอนุมัติ</a>
        <a class="btn btn-danger btn-sm" href="/api/status/update?field=vice_ch&state=0&id=<%= data2.id_activity %>">decline</a>
        <% } if (data2.vice_ch === 0){ %>
        <a style="color:blue">รอการอนุมัติ</a>
        <a class="btn btn-success btn-sm" href="/api/status/update?field=vice_ch&state=1&id=<%= data2.id_activity %>">approve</a>
        <%  } if (data2.vice_ch === 2){ %>
        <a style="color:red">ไม่ผ่านการอนุมัติ</a>
        <a class="btn btn-success btn-sm" href="/api/status/update?field=vice_ch&state=1&id=<%= data2.id_activity %>">approve</a>
        <% }  %>
        <a class="btn btn-danger btn-sm" href="/api/status/update?field=vice_ch&state=2&id=<%= data2.id_activity %>">reject</a>
      </h6>
      <h6> สถานะโครงการ :
        <% if(data2.status) {%>
        <a class="btn btn-success">ผ่านการอนุมัติ</a>
        <% } else { %>
        <a style="color:blue">รอการอนุมัติ</a>
        <% }  %>
      </h6>
    </div>
    <div>

    </div>
  </main>


  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>