<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>

    <style>
      table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
          }
          
          td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
          }
          
          tr:nth-child(even) {
              background-color: #dddddd;
          }
          </style>
    <div class="jumbotron">
      <h2>Activity</h2>
      <p>สามารถเพิ่มโครงการได้ที่นี่ <a href='/activity/create'>add</a></p>

      <table>
        <thead class="thead-light">
          <tr>
            <th>id</th>
            <th>ชื่อโครงการ</th>
            <th>องค์กรจัดกิจกรรม</th>
            <th>สถานะการจัดกิจกรรม</th>
            <th>เริ่มจัดวันที่</th>
            <th>สิ้นสุดวันที่</th>
            <th>Tel</th>
            <th>More</th>
          </tr>
        </thead>

        <% data.forEach(function(Data) { %>
        <tr>
          <td>
            <%= Data.id_activity %>
          </td>
          <td>
            <%= Data.act_name %>
          </td>
          <td>
            <%= Data.org_name%>
          </td>
          <td>
            <% if(Data.samo) {%>
            <i class="fas fa-check"></i>
            <% } else { %>
            <i class="fas fa-times"></i>
            <% }  %>
          </td>
          <td>
            <%= Data.act_start%>
          </td>
          <td>
            <%= Data.act_end%>
          </td>
          <td>
            <%= Data.tel %>
          </td>
          <td>
            <form>
              <button type="button" class="btn btn-info" onclick="window.location.href='/activity/detail?id=<%= Data.id_activity %>'">detail</button>
            </form>
          </td>

        </tr>
        <% }); %>
      </table>

    </div>
  </main>


  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>